.productView {
  margin-top: 50px;
  padding-left: 30px;
  background-color: var(--white);
  height: 100%;
}

.newForm {
  background-color: var(--white);
  height: 100%;
  background-color: transparent;
  margin-right:16px;
}
.newForm h2 {
  margin-bottom: 10px;
}
.newForm label {
  font-size: 13px;
  font-weight: 400;
}
.newForm h3 {
  font-weight: 400;
}

/* STORE SELECT */
.store-form option {
  color: white;
}
.sendForm {
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
}

.sendForm button {
  color: var(--text-inputs);
  background-color: var(--gray-primary);
  font-size: 14px;
  width: 80px;
  height: 30px;
  border-radius: 16px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  transition: 450ms ease-in-out;
}

.sendForm button:hover {
  background-color: var(--green-back);
}


.addImg{
  margin-bottom: 5px;
}
.addImg button{
height: 30px;}

/* /////////////// */
/* DARKMODE */
.dark .productView {
  background-color: var(--background-color-dark);
}
.dark .newForm {
  color: white;
  background-color: var(--background-color-dark);
}

.dark .store-form select {
  color: white;
}

.dark .counter {
  margin: 8px 0 px 0;

  background-color: rgb(51, 51, 51);
  border: 1px solid var(--border-gray);
}
.sendForm {
  margin-top: 15px;
}
