:root{
    --border-gray:rgb(153,153,153);
    --background-inputs:rgb(51,51,51);
    --gray-primary:rgb(89,89,89);
    --border-cards: 15px;
    --text-inputs: #F2F2F2;
}



.newForm{
    background-color: rgb(34,34,34);


    color: white;
    border: 1px solid black;
    width: 70vw;
    height: 100%;
    padding: 5px;
    
}

.newForm label{
    font-size: 12px;
    font-weight: 300;
}

.newForm h3{
    font-weight: 300;
}

.eachInput{
    display: flex;
    flex-direction: column;
}

.eachInput input , textarea, select{
    padding: 10px;
    background-color: rgb(51,51,51);
    border: 1px solid var(--border-gray);
    color: white;
    border-radius: 15px;
    margin: 10px 0 10px 0;
}
.eachInput input , select{
    height: 10px;
    max-width: 300px;
}
.eachInput textarea{
    height: 130px;
    max-width: 450px;
}


/* BOTON AGREGAR O QUITAR UNIDAD DE STOCK */
.decrement, .increment{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
} 
.counter{
    margin: 8px 0 8px 0;
    background-color: rgb(51,51,51);
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    max-width: 150px;
    height: 32px;
    border-radius: 16px;
    margin-right: 20px;
    border: 1px solid var(--border-gray);
   
}

.result{
    font-size: 12px;
    font-weight: 300;
}


/* IMAGENES */

.formImgs{
    margin: 5px 0 5px 0;
    background-color: var(--background-inputs);
    /* width: 450px; */
    max-width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-radius: var(--border-cards);
    /* border: 1px solid; */
    padding: 5px;
}
.formImgs-img{
    display: flex;
    gap: 10px;
    align-items: center;
}

.formImgs-img{
    font-size: 10px;
}
.formImgs img{
    width: 45px;
    border-radius: 5px;
}


.newForm .quitar {
    color: var(--text-inputs);
    background-color: var(--gray-primary);
    font-size: 12px;
    width: 80px;
    height: 32px;
    border-radius: 16px;
    margin-right: 20px;
    border: none;
}

.sendForm{
    display: flex;
    justify-content: flex-end;
}

.sendForm button{
    color: var(--text-inputs);
    background-color: var(--gray-primary);
   font-size: 10px;
    width: 60px;
    height: 25px;
    border-radius: 16px;
    margin-right: 20px;
    border: none;

}