.editProduct {
  display: flex;
  color: black;
  box-shadow: 3px 3px 9px 2px #00000040;
  align-items: center;
  border-radius: 12px;
  margin: 0px 16px 0 26px;
  height: 80px;
  max-width: 450px;
}
.editProduct:hover {
  box-shadow: 3px 3px 9px 2px #00000040;
}
.editProduct h2 {
  font-size: 18px;
}
.editProduct__container {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.editProduct__img img {
  margin-left: 5px;
  width: 60px;
  border-radius: 6px;
}

.editProduct__container .avatar {
  display: none;
}
.editProduct__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.editProduct__name {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.editProduct h2 {
  margin: 0px;
  /* font-size: 10px; */
}
.editProduct p {
  margin: 0px;
}

.eachInfo {
  display: flex;
  margin-right: 10px;
  /* align-items: center; */
}
.eachInfo:nth-child(1) {
  margin-right: 20px;
}
.eachInfo p {
  padding-top: 2.5px;
  padding-left: 8px;
  font-size: 7px;
  font-weight: 300;
}
.eachInfo div {
  width: 40px;
}

@media (min-width: 400px) {
  .editProduct__container .avatar {
    display: flex;
  }
 
}
@media (min-width: 370px) {
 
  .editProduct__name {
    display: block;
    /* flex-wrap: wrap;
    justify-content: center; */
  }
  .editProduct__container .avatar {
    display: flex;
    width: unset;
    padding-left: 10px;
  }
 
}

/* DARK */
.dark .editProduct {
  color: white;
  background-color: var(--background-color-dark);
}
.dark .eachInfo p {
  color: white;
}
