.dark-mode-sidebar {
  position: relative;
  cursor: pointer;
}
.dark-mode-sidebar label {
  cursor: pointer;
}

.button-context{
  width: 100%;
  background-color: transparent !important;
}

.button-context label {
  display: block;
  position: absolute;
  top: 50%;
  right: -15px;
  width: 60px;
  height: 30px;
  margin: 0 15px 0 0;
  background-color: var(--green-back);
  border-radius: 56px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s ease background-color;
  overflow: hidden;
  border: 1px solid white;
}

.dark .button-context label {
  background-color: var(--background-inputs-dark);
}

#toggle_checkbox {
  display: none;
}

#star {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 10px;
  height: 10px;
  transform: scale(1);
  /* border-radius: 50%; */
  transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform,
    0.3s ease background-color;
  z-index: 1;
}

#star-1 {
  position: relative;
}

#star-2 {
  position: absolute;
  transform: rotateZ(36deg);
}

.star {
  top: -10px;
  left: -1.5px;
  font-size: 20px;
  line-height: 28px;
  color: #fafd0f;
  transition: 0.3s ease color;
}

#moon {
  position: absolute;
  bottom: -52px;
  right: 4px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s ease bottom;
}

#moon:before {
  content: "";
  position: absolute;
  top: -6px;
  left: -8px;
  width: 20px;
  height: 20px;
  background-color: var(--green-back);
  border-radius: 50%;
  transition: 0.3s ease background-color;
}

#toggle_checkbox:checked + label {
  background-color: #000;
}

#toggle_checkbox:checked + label #star {
  top: 3px;
  left: 33px;
  transform: scale(0.4);
  background-color: yellow;
}

#toggle_checkbox:checked + label .star {
  color: yellow;
}

#toggle_checkbox:checked + label #moon {
  bottom: 6px;
}

.dark #moon:before {
  background-color: var(--background-inputs-dark);
}

/* Tomado como base de: https://codepen.io/alvarotrigo/pen/BamvwQB */
