.dark .filter {
  color: var(--white);
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  text-align: right;
  border-radius: 5px;
  padding: 5px 0 5px 10px;
  flex-wrap: wrap;
  z-index: 1;
  gap: 10px;
  margin-right: 15px;
}

.price_filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price_filter input:first-child {
  margin-right: 10px;
}
