.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: auto;
  border-radius: 12px;
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.395));
  transition: all 0.8s ease;
  padding: 15px;
}

.card-logo {
  display: flex;
  align-items: center;
  color: black;
  padding: 10px;
  font-size: 20px;
}

.card-text {
  color: black;
}

.card-number {
  color: black;
  font-weight: bold;
  padding-right: 3px;
}

.card-button {
  background-color: #494f51;
  color: white;
  width: 150px;
  border: 1px;
  border-radius: 15px;
  margin-right: 5px;
  transition: all 0.8s ease;
  padding: 3px;
  white-space: nowrap;
  cursor: pointer;
}

.card-button:hover {
  background-color: rgba(12, 176, 147, 1);
}

.card-content:hover {
  position: relative;
  transform: scale(1.01);
}

.card-button-content {
  display: flex;
  width: 100%;
  justify-content: right;
  padding-right: 5px;
}

@media screen and (max-width: 480px) {
  .card-button-content {
    width: 100%;
  }
}
/* Resolucion menor a 520px */
@media (max-width: 520px) {
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .card-button-content {
    justify-content: center;
    align-items: center;
  }

  .card-button {
    padding: 8px;
  }
}

/* CLASE OSCURA */

.dark .card-content {
  background-color: rgb(48, 46, 46);
}

.dark .card-logo {
  color: white;
}

.dark .card-text {
  color: white;
}

.dark .card-number {
  color: white;
}
