/* BOTON AGREGAR O QUITAR UNIDAD DE STOCK */
.decrement,
.increment {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
}
.counter {
  margin: 8px 0 8px 0;

  /* background-color: rgb(51,51,51); */
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 150px;
  height: 32px;
  border-radius: 16px;
  margin-right: 20px;
  border: 1px solid var(--border-gray);
}

.result {
  font-size: 12px;
  font-weight: 400;
  width: 90px;
  text-align: center;
  color: black;
  border: none;
  background-color:white;
}
.dark .result {
  background-color: var(--background-inputs-dark);
  color: white;
}

.dark .result {
  font-family: 300;
}

.dark .increment,
.dark .decrement {
  color: white;
}
