.container-404 {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(3px);
}

.container-404::before {
    z-index: -1;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: url('../../assets/images/not-found-404.jpeg') center/100%;
    filter: blur(5px);
    opacity: 0.4;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-container-404 {
    background-color: rgb(26, 25, 25);
    color: white;
    border-radius: 12px;
    padding: 10px;
    opacity: 0.7;
}

.button-slider {
    font-size: 2rem;
    font-family: sans-serif;
    position: relative;
    font-weight: 700;
    margin: 4rem;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    border: rgba(12,176,147,1) 2px solid;
    color: rgba(12,176,147,1);
}

.button-slider::before {
    content: attr(text);
    position: absolute;
    background:rgba(12,176,147,1);
    color: white;
    padding: 2rem;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    transform: translateY(-50%) translateX(100%);
    transition: transform 250ms ease-out;
}

.button-slider:hover::before {
    transform: translateY(-50%) translateX(-50%);
}

/* Te comento esta linea por que si la sacas no afecta en nada */
/* Con .button-slider ya le das color */
/* a{
    text-decoration: none;
    color: rgba(12,176,147,1);
} */