.avatar {
  width: 250px;
  border-radius: 25px;
  height: 30px;
  display: flex;
  align-items: center;
}

.avatar-img {
  position: relative;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  padding: 3px;
}
