@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


:root{
  --background-color: rgb(239,239,239);

}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  /* background-color: var(--background-color); */


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
