.burger-menu {
    margin-left: 26px;
  }
  
  .bar1,
  .bar2,
  .bar3 {
    width: 20px;
    height: 3px;
    margin: 3px 0;
    transition: 0.4s;
    background-color: black;
  }

  .change .bar1{
    transform: translate(0, 7px) rotate(-45deg);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3{
    transform: translate(0, -5px) rotate(45deg);
  }
