:root {
    --white: #ffffff;
    --black: #000000;
    --dark-gray: #333333;
    --green-back: #0cb093;
    --box-shadow: #00000040
    --button-back: #494f51;
    --border-cards: #6d686876;
    --grey-footer: #999999;
    --header-back: #ffffff80
    --border-buttons-text: #cccccc;
    --backgroud-light: #dadada;

}

.contentContainer{
    background-color: var(--backgroud-light);
    min-height: 100vh;
    width: 100vw;
}

.dark .contentContainer{
    background-color: var(--backgroud-light);
}