.editProduct{
    display: flex;
    color: black;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 0px 4px 4px #00000040;
    margin: 10px 0 10px 0;
    height: 80px;
    
}
.editProduct__container{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.editProduct__img img{
    margin-left: 5px;
    width: 60px;
    border-radius: 6px;
}

.editProduct__info{
    display: flex;
}

.editProduct h2{
    margin: 0px;
}
.editProduct p{
    margin: 0px;
}

.eachInfo{
    display: flex;
    /* align-items: center; */
}
.eachInfo p{
    font-size: 13px;
    font-weight: 300;
}


/* DARK */
.dark .editProduct{
    color: white;
    background-color: var(--background-inputs-dark);
}