.dark .filter{
    color: var(--white);
}
.filter{
    display: flex;
align-items: flex-end;
    text-align: right;
    border-radius: 5px;
    padding: 5px 0 5px 10px;
    flex-wrap: wrap;
    position: fixed;
    right: 15px;
    z-index: 1;
    gap: 10px;

}

.filter form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.price_filter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price_filter input:first-child{
    margin-right: 10px;
}