:root {
    --white: #ffffff;
    --black: #000000;
    --dark-gray: #333333;
    --green-back: #0cb093;
    --box-shadow: #00000040
    --button-back: #494f51;
    --border-cards: #6d686876;
    --grey-footer: #999999;
    --header-back: #ffffff80;
    --border-buttons-text: #cccccc;
}

.header{
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(4px);
    border-bottom: 1px solid var(--black);
}

.dark .header{
    border-bottom: 0;
    color: var(--white);
}

.header .title{
    color: var(--black);
    text-decoration: none;
    font-size: 22px;
}
.dark .header .title{
    color: var(--white);
}

.header .textCtn{
    display: flex;
    flex-wrap: wrap;

}

.header .title i{
    font-size: 12px;
    margin: 0 8px;
    
}

.header .products{
    white-space: nowrap;
}

.header .products i{
    vertical-align: middle;
}

.header .fa-bars{
    font-size: 20px;
    margin-left: 15px;
}

.headerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 15px;
}


.headerGroup{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.headerGroup a{
    text-decoration: none;
}

.btnDelete{
    margin-right: 15px;
}

.headerGroup form{
    margin-right: 10px;
    display: flex;
    width: 90%;
    justify-content: flex-end;
}

.headerGroup input{
    padding: 0 15px;
    border-radius: 85px 0px 0px 84px;
    border: 1px solid var(--black);
    background-color: var(--white);
    width: 100%;
    
}

.dark .headerGroup input{
    background-color: var();
}

.headerGroup input:focus, .headerGroup input:active{
    outline: none;
}



.formContainer{
    display: flex;
    width: 100%;
    margin-right: 0px;
    justify-content: flex-end;
}

.headerGroup input, .headerGroup .fa-x{
    display: none;
}

.headerGroup .setVisible{
    display: block ;
}

.formContainer .inputVisible{
    border-right: 0 !important;
}

.formContainer .inputVisible{
    background-color: var(--border-cards);
}

 .xVisible{
}

.formContainer .inputSearchOpen{
    border-radius: 0px 93px 94px 0px !important;
    border-left: 0 !important;
    background-color: var(--white);
    margin-right: 8px;
    height: 30px;
}

.dark .formContainer .inputSearchOpen{
    background-color: var(--border-cards) ;
}


.headerGroup .mobileAdd{
    border-radius: 50%;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    font-weight: 550;
    margin-right: 15px;
    font-size: 33px;
    cursor: pointer;
}

.headerGroup .fa-magnifying-glass{
    background-color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 30px;
    width: 50px;
    cursor: pointer;
}

.dark .headerGroup .fa-magnifying-glass{
    background-color: var(--border-cards);
    color: var(--grey-footer);
}

.desktopAdd{
    display: none;
}

@media screen  and (min-width: 500px) {
    .formContainer{
        margin-right: unset;
    }
    .headerGroup{
        width: unset;
    }
    .headerGroup input{
        display: block;
        border-right: 0 ;
    }
    .header .textCtn{
        flex-direction: row !important;
    }

    .headerGroup .fa-magnifying-glass{
        border-radius: 0px 93px 94px 0px;
        border-left: 0;
    }
}


@media screen and (min-width: 1024px) {
    .header .fa-bars{
        display: none;
    }

    .mobileAdd{
        display: none !important;
    }

    .desktopAdd{
        display: block;
        margin-right: 15px;
        padding: 9px 15px !important;
        white-space: nowrap;
    }

}