.formImgs{
    margin: 5px 0 5px 0;
    background-color: var(--background-inputs);
    box-shadow: 3px 3px 9px 2px #00000040;
    max-width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-radius: var(--border-cards);
    padding: 5px;
}

.newForm .quitar {
    color: var(--text-inputs);
    background-color: var(--gray-primary);
    font-size: 12px;
    width: 80px;
    height: 32px;
    border-radius: 16px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    transition: all 450ms ease-in-out;
}
.newForm .quitar:hover{
    background-color: var(--green-back);
}
.formImgs-img{
    display: flex;
    gap: 10px;

    align-items: center;
}

.formImgs-img{
    font-size: 10px;
}
.formImgs img{
    width: 45px;
    border-radius: 5px;
}


.dark .formImgs{
    border: none;
    background-color: var(--background-inputs-dark);
}
