.sidebar {
  z-index: 1;
  margin-left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  /* Desplaza el menu hacia la izquierda */
  transform: translateX(-100%);
  display: none;
  transition: transform 1s ease;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  display: flex;
}

.show-sidebar {
  transform: translateX(0);
}

.close-sidebar {
  transform: translateX(-100%);
}

.sidebar .left-sidebar {
  width: 300px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.37);
  box-shadow: 0 8px 32px 0 rgba(2, 4, 37, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.top-navbar {
  padding: 15px;
}

.logo {
  width: 80%;
  height: 30px;
  margin-right: 60px;
}

.left-sidebar .top-navbar .nav-list {
  margin-top: 30px;
}

.left-sidebar .top-navbar .nav-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: baseline;
}

.left-sidebar .top-navbar .nav-list ul li {
  padding: 7px;
  width: 250px;
  border-radius: 10px;
}

.left-sidebar .bottom-navbar .avatar {
  background-color: #494f51;
  color: white;
}

.sidebar .top-navbar .nav-list ul li:hover,
.sidebar .bottom-navbar .avatar:hover {
  background-color: var(--green-back);
  color: white;
}

.icon {
  margin-right: 12px;
}

a {
  text-decoration: none;
  color: black;
}

.left-sidebar .bottom-navbar {
  padding: 30px 0 30px 15px;
}

.sidebar .right-sidebar { 
  width: 100%;
}

.dark-mode-sidebar{
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.dark-mode-sidebar svg{
  padding-left: 3px;
}

@media (min-width: 1024px) {
  .sidebar .right-sidebar, 
  .sidebar .left-sidebar {
    background-color: white;
  }
  
  .sidebar .left-sidebar {
    box-shadow: none;
  }

  .sidebar .right-sidebar { 
    width: 0;
  }
  .contentContainer {
    z-index: 2;
    position: relative;
    overflow: hidden;
  }
}

/* Dark Mode */
.dark .left-sidebar {
  background: rgba(0, 0, 0, 0.871);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.dark .left-sidebar .top-navbar .nav-list ul li {
  color: white;
}

.dark .left-sidebar .top-navbar .nav-list ul li:hover {
  background-color: var(--border-cards);
  color: white;
}


