.sidebar {
  z-index: 100;
  margin-left: 0;
  position: fixed;
  width: 296px;
  height: 100vh;
  top: 0;
  left: 0;
  /* Desplaza el menu hacia la izquierda */
  /* transform: translateX(-100%); */
  /* display: none; */
  transition: transform 0.2s ease;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-navbar {
  padding: 15px;
}

.logo {
  width: 80%;
  height: 30px;
  margin-right: 60px;
}

.nav-list {
  margin-top: 30px;
}

.sidebar .top-navbar .nav-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: baseline;
}

.sidebar .top-navbar .nav-list ul li {
  padding: 7px;
  width: 250px;
  border-radius: 10px;
}

.sidebar .bottom-navbar .avatar{
    background-color: var(--dark-gray);
}

.sidebar .top-navbar .nav-list ul li:hover,
.sidebar .bottom-navbar .avatar:hover {
  background-color: var(--green-back);
  color: white;
}

.icon {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.sidebar .bottom-navbar {
  padding: 30px 0 30px 15px;
}

@media (min-width: 1024px) {
  .sidebar {
    transform: translateX(0);
  }
}

/* Dark Mode */
.dark {
  background: rgba(0, 0, 0, 0.871);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.dark .top-navbar .nav-list ul li {
  color: white;
}

.dark .top-navbar .nav-list ul li:hover {
  background-color: var(--border-cards);
  color: white;
}
